@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/FG_Virgil.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("https://excalidraw.com/Cascadia.woff2");
}

:root {
  --bg-ex-dark: 	#121212;
  --cl-ex-dark: 	lightgray;
  --bg-ex-light:	white;
  --cl-ex-light:	rgb(68, 68, 68);
}


/******************/
/*   Light mode   */
/******************/
.excalidraw-host-light {
  background-color: var(--bg-ex-light);
  border-radius: 5px;
  display: block;
}

.ex-header-button-light {
  background-color: transparent;
  color: var(--cl-ex-light);
  position: absolute;
  top: 5px;
  z-index: 1100;
  border-radius: 15px;
  margin-right: 3px;
  border: none;
}

.ex-header-button-light:hover {
  border: 1px solid ;
  background-color: rgba(0,0,0,0.1);
}

/*
.excalidraw-host-light {     
}*/


/******************/
/*   Dark mode    */
/******************/

.excalidraw-host-dark {
  background-color: var(--bg-ex-dark);
  border-radius: 5px;
  display: block;
}

.ex-header-button-dark {
  background-color: transparent;
  color: var(--cl-ex-dark);
  position: absolute;
  top: 5px;
  z-index: 1100;
  border-radius: 15px;
  margin-right: 3px;
  border: none;
}

.ex-header-button-dark:hover {
  border: 1px solid dimgray;
  background-color: #222222;
}

/*
.excalidraw-host-dark {     
}*/

/*****************/
/* other settings*/
/*****************/
.excalidraw-wrapper { 
  height: 100%;
  margin: 0px;
  position: relative;
}

.excalidraw-data {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
}

/*
.excalidraw-svg {
  margin: 0px -4px -4px -4px;
}*/

/*excalidraw overrides*/


.excalidraw.excalidraw-modal-container {
  z-index: 1010 !important; 
}

kbd {
  color: #121212 !important;
}

.popover {
  display: block;
  top: auto;
  left: auto;
  z-index: 1010 !important;
}

.excalidraw .App-menu_top .buttonList {
  display: flex;
}



:root[dir="ltr"]
  .excalidraw
  .layer-ui__wrapper
  .zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}